
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100vh;
}

#emailInput, #passwordInput{
    box-shadow: 2px 2px 4px rgb(244, 7, 165);
    border: none;
    border-radius: 13px;
    padding: 10px;
    width: 120%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

h2{
    border: none;
    color: rgb(50, 5, 91);
    box-shadow: 1px 1px 1px rgb(254, 1, 1);
    border-radius: 40px;
    padding: 2px 10px;
    margin-bottom: 25px;
}

.lab{
    color: rgb(182, 71, 71);
    margin-bottom: 15px;
    padding-bottom: 5px;
}

button{
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 4px 15px;
    box-shadow: 2px 4px 8px rgb(34, 33, 33);
    background-color: rgb(0, 0, 0);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    font-weight: bold;
    color: blue;
    font-size: 0.8em;
}